[submodule "my_plugins/vim-ps1"]
	path = my_plugins/vim-ps1
	url = https://github.com/PProvost/vim-ps1.git
[submodule ".\\sources_non_forked\\typescript-vim"]
	path = .\\sources_non_forked\\typescript-vim
	url = https://github.com/leafgarland/typescript-vim.git
